body, html {
    margin: 0;
    padding: 0;
}

.color-swatches {
    clear: both;
}

.color-swatch {
    float: left;
    height: 30px;
}

textarea {
    width: 100%;
    min-height: 100px;
    resize: vertical;
}